@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins;
    @apply text-textblue;
    @apply bg-primary;
  }
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 400px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-slide {
  display: flex;
  height: 150px;
}

.each-slide>div {
  width: 75%;
}

.each-slide>div img {
  height: 150px;
  object-fit: cover;
}